@import "imports.scss";

body {
  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  color: #3b3b53;
  background-color: $body-color;
  height: 100%;
}

html {
  position: relative;
  min-height: 100%;
}


/* Font Sizes */
@mixin playerBoxLowerText {
  font-weight: 600;
  font-size: 24px;
  line-height: 18px;
  /* or 75% */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
@mixin playerBoxUpperText {
  font-weight: 600;
  font-size: 48px;
  line-height: 18px;
  /* or 75% */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Colors */

/* Player Score Boxes */
@mixin playerScoreBox {
  width: 624px;
  height: 660px;
}
.playerScoreBoxLeft {
  @include playerScoreBox();
  position: absolute;
  left: 411px;
  top: 365px;
}
.playerScoreBoxRight {
  @include playerScoreBox();
  position: absolute;
  left: 1049px;
  top: 365px;
}

/* Scores Army Name Header */
.scoresArmyNameBox {
  width: 624px;
  height: 69px;
  
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 89.55%;
}
.scoresArmyNameLabel {
  @include playerBoxUpperText();
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
.scoresArmyNameBackground {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  /* ScoreArmyHeader */
  background: #B7E394;

  /* ScoreBox */
  border: 3px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

/* Total Army Score Box */

@mixin scoreTotalBoxesColor {
  /* ScoreTotalBoxes */
  background: #F19E38;
  /* ScoreBox */
  border: 3px solid rgba(0, 0, 0, 0.5);
}
.armyTotalBox {
  position: absolute;
  left: 79.81%;
  right: 0%;
  top: 90%;
  bottom: 0%;
}
.armyTotalNumber {
  /* TotalNumber */
  position: absolute;
  width: 126px;
  height: 67px;
  left: 0px;
  top: -1px;
  @include playerBoxLowerText();
  color: #000;
}
.armyTotalBackground {
  @include scoreTotalBoxesColor();
  position: absolute;
  width: 126px;
  height: 67px;
  left: 0px;
  top: -1px;
}